.active-button {
  font-weight: bold;

  color: white;
  background: linear-gradient(
    125deg,
    rgba(67,24,255,1),
    rgba(134,140,255,1),
    rgb(43, 54, 116)
  );
  background-size: 200% 200%;
  transition: background-position 0.4s ease-in-out;
}

.active-button:hover {
  background-position: right center;
}